<div class="content_list">
<div class="clear">
<h1>Edit this list </h1>
<span><%= link_to "Cancel", list_url(@list) %></span> |
<span> <%= link_to "Delete this list", list_url(@list), :method => :delete, confirm: "Are you sure?" %></span>
</div>
<%= render :partial => 'form' %>
</div>

