<% content_for :header do %>
	<b>My Lists</b>
	<%= link_to "Create a new list", new_list_url %>
<% end %>
<div class="content_list">
<span> My Lists </span>

<% @lists.each do |list|%>
	<% if list.items_incompleted? %>
	<div class="mylist">
	<p> <%= link_to list.name, list_url(list) %>  -  		 <%= list.get_items_incompleted_count %> left </p>
	</div>
	<% end %>
<% end %>	

<span> Completed lists: 
	<% @lists.each do |list|%>
		<% if list.items_completed? %>
		<div class="mylist">
		<%= link_to list.name, list_url(list) %>	
		</div> 
		<% end %>
	<% end %>
</span>
</div>
